export BEADS_NO_DAEMON=1

get_keychain_secret() {
  local service="$1"
  local account="${2:-$USER}"
  security find-generic-password -s "$service" -a "$account" -w
}

export OPENAI_API_KEY="$(get_keychain_secret "substrate/OPENAI_API_KEY")"

# Ensure anth api key is unset, given we want to use local claude.ai auth
export ANTHROPIC_API_KEY=

# __pycache__ annoyance
#export PYTHONPYCACHEPREFIX=".cache/cpython"

export SUBSTRATE_ENVIRONMENT=dev
